<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by 123 (456) -->
#set($environment = $environment)
#set($models = $protoDom.getModelDoms())
#set($baseParams = $protoDom.getBaseParamDoms())
#set($controllers = $protoDom.getControllerDoms())
#set($marcoFiles = $protoDom.getMarcoFileDoms())
#set($controller_package = $environment.controller_package)
#set($model_package = $environment.model_package)
#set($marcos_package = $environment.marcos_package)
#set($params_package = $environment.params_package)

<proto>
#foreach($model in $models)
    <file name="${tool.getPath($model_package)}${tool.getFileName($model.name)}.java">
<![CDATA[
${environment.notes}
package ${model_package};
import java.util.*;
import java.lang.reflect.Field;
import lombok.*;
import com.alibaba.fastjson.*;
import java.io.*;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.alibaba.fastjson.annotation.JSONField;
import org.springframework.beans.BeanUtils;
import com.thoughtworks.base.annotation.SensitiveInfo;
import com.thoughtworks.base.utils.SensitiveInfoUtils;
import com.fasterxml.jackson.annotation.JsonInclude;

@Data
@AllArgsConstructor
@NoArgsConstructor
@Builder
@JsonInclude(JsonInclude.Include.NON_NULL)
/**
 * ${model.des}
 */
public class ${tool.baseType($model.name)} implements Serializable, Cloneable {
#foreach($parameter in ${model.modelParameterDoms})
    /**
     * ${parameter.des}
     */
#if(${tool.toLower($parameter.type)}=="date")
    @JsonFormat(locale="zh", timezone="GMT+8", pattern="yyyy-MM-dd")
    @JSONField(format="yyyy-MM-dd")
#elseif(${tool.toLower($parameter.type)}=="datetime")
    @JsonFormat(locale="zh", timezone="GMT+8", pattern="yyyy-MM-dd HH:mm:ss")
    @JSONField(format="yyyy-MM-dd HH:mm:ss")
#end
#if($parameter.sen)
    @SensitiveInfo(type = SensitiveInfoUtils.SensitiveType.$parameter.sen)
#end
    private $tool.typeChange(${parameter.type}) ${parameter.name};

#end
#if(${tool.isT($model.name)})
    /**
    * Assign From Object
    * @param obj
    */
    public static <T> ${tool.baseType($model.name)} fromObject(Object obj,Class<T> clazz)  {
        String str= JSON.toJSONString(obj);
        return JSON.parseObject(str,new TypeReference<${tool.baseType($model.name)}>(clazz){});
    }
    /**
    * Assign From Object
    * @param str
    */
    public static <T> ${tool.baseType($model.name)} fromObject(String str,Class<T> clazz)  {
        return JSON.parseObject(str,new TypeReference<${tool.baseType($model.name)}>(clazz){});
    }
#else
    /**
    * Assign From Object
    * @param obj
    */
    public static ${tool.baseType($model.name)} fromObject(Object obj)  {
        String str= JSON.toJSONString(obj);
        return JSON.parseObject(str,${tool.baseType($model.name)}.class);
    }
    /**
    * Assign From Object
    * @param str
    */
    public static ${tool.baseType($model.name)} fromObject(String str)  {
        return JSON.parseObject(str,${tool.baseType($model.name)}.class);
    }
    public static <T> ArrayList<${tool.baseType($model.name)}> formList(List<T> list){
        ArrayList<${tool.baseType($model.name)}> result;
        result = new ArrayList<>();
        for (T one:list) {
            ${tool.baseType($model.name)} m${tool.baseType($model.name)} = new ${tool.baseType($model.name)}();
            m${tool.baseType($model.name)}.copyFrom(one);
            result.add(m${tool.baseType($model.name)});
        }
        return result;
    }
#end
    public ${tool.baseType($model.name)} copyFrom(Object o){
        BeanUtils.copyProperties(o,this);
        return this;
    }
    public ${tool.baseType($model.name)} clone() throws CloneNotSupportedException {
        return (${tool.baseType($model.name)}) super.clone();
    }
    public ${tool.baseType($model.name)} deepClone() throws IOException, ClassNotFoundException {
        ByteArrayOutputStream bos = new ByteArrayOutputStream();
        ObjectOutputStream oos = new ObjectOutputStream(bos);
        oos.writeObject(this);
        ByteArrayInputStream bis = new ByteArrayInputStream(bos.toByteArray());
        ObjectInputStream ois = new ObjectInputStream(bis);
        return (${tool.baseType($model.name)}) ois.readObject();
    }
}
]]>
    </file>
#end

<file name="${tool.getPath($params_package)}base/BaseParams.java">
    <![CDATA[
package ${params_package}.base;
import com.thoughtworks.base.IBaseParam;
import io.swagger.annotations.*;
import lombok.*;
import java.io.*;
import com.thoughtworks.base.annotation.SensitiveInfo;
import com.thoughtworks.base.utils.SensitiveInfoUtils;
import com.thoughtworks.base.TWException;

@Data
@ApiModel
public class BaseParams implements Serializable, Cloneable, IBaseParam {
#foreach($methodParameterDom in ${baseParams})
#if($methodParameterDom.required=="true")
    @ApiModelProperty(value = "${methodParameterDom.des}", required = true)
#else
    @ApiModelProperty("${methodParameterDom.des}")
#end
#if($methodParameterDom.sen)
    @SensitiveInfo(type = SensitiveInfoUtils.SensitiveType.$methodParameterDom.sen)
#end
    private $tool.typeChange(${methodParameterDom.type}) ${methodParameterDom.name};
#end
    public void checkRequired() throws TWException {
#foreach($methodParameterDom in ${method.methodParameterDoms})
#if($methodParameterDom.required=="true")
        if (${methodParameterDom.name} == null) throw new TWException("缺少参数${methodParameterDom.name}");
#end
#end
    }

    public Object deepClone() throws IOException, ClassNotFoundException {
        ByteArrayOutputStream bos = new ByteArrayOutputStream();
        ObjectOutputStream oos = new ObjectOutputStream(bos);
        oos.writeObject(this);
        ByteArrayInputStream bis = new ByteArrayInputStream(bos.toByteArray());
        ObjectInputStream ois = new ObjectInputStream(bis);
        return ois.readObject();
    }
}
    ]]>
</file>

#foreach($controller in $controllers)
#foreach($method in ${controller.methodDoms})
#if(${method.methodParameterDoms.size()}>0)
    <file name="${tool.getPath($params_package)}${controller.name}${tool.toUpperCaseFirstOne($method.name)}Params.java">
        <![CDATA[
package ${params_package};
import ${params_package}.base.BaseParams;
import io.swagger.annotations.*;
import lombok.*;
import $model_package.*;
import java.util.*;
import java.io.*;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.alibaba.fastjson.annotation.JSONField;
import com.thoughtworks.base.annotation.SensitiveInfo;
import com.thoughtworks.base.utils.SensitiveInfoUtils;
import com.thoughtworks.base.TWException;

@Data
@AllArgsConstructor
@Builder
@NoArgsConstructor
@ApiModel
public class ${controller.name}${tool.toUpperCaseFirstOne($method.name)}Params extends BaseParams {
#foreach($methodParameterDom in ${method.methodParameterDoms})
#if(${tool.toLower($methodParameterDom.type)}=="date")
    @JsonFormat(locale="zh", timezone="GMT+8", pattern="yyyy-MM-dd")
    @JSONField(format="yyyy-MM-dd")
#elseif(${tool.toLower($methodParameterDom.type)}=="datetime")
    @JsonFormat(locale="zh", timezone="GMT+8", pattern="yyyy-MM-dd HH:mm:ss")
    @JSONField(format="yyyy-MM-dd HH:mm:ss")
#end
#if($methodParameterDom.required=="true")
    @ApiModelProperty(value = "${methodParameterDom.des}", required = true)
#else
    @ApiModelProperty("${methodParameterDom.des}")
#end
#if($methodParameterDom.sen)
    @SensitiveInfo(type = SensitiveInfoUtils.SensitiveType.$methodParameterDom.sen)
#end
    private $tool.typeChange(${methodParameterDom.type}) ${methodParameterDom.name};

#end

    public void checkRequired() throws TWException {
        super.checkRequired();
#foreach($methodParameterDom in ${method.methodParameterDoms})
#if($methodParameterDom.required=="true")
        if (${methodParameterDom.name} == null) throw new TWException("miss params: ${methodParameterDom.name}");
#end
#end
    }
    public ${controller.name}${tool.toUpperCaseFirstOne($method.name)}Params clone() throws CloneNotSupportedException {
        return (${controller.name}${tool.toUpperCaseFirstOne($method.name)}Params) super.clone();
    }

    public ${controller.name}${tool.toUpperCaseFirstOne($method.name)}Params deepClone() throws IOException, ClassNotFoundException {
        return (${controller.name}${tool.toUpperCaseFirstOne($method.name)}Params) super.deepClone();
    }
}
        ]]>
    </file>
#end
#end
#end


#foreach($marcoFile in $marcoFiles)
#if(${marcoFile.isEnum}=="true")
    <file name="${tool.getPath($marcos_package)}${marcoFile.name}.java">
        <![CDATA[
${environment.notes}
package ${marcos_package};
public enum ${marcoFile.name} {
#set($max=${marcoFile.marcoDoms.size()})
#set($count=1)
#foreach($marco in ${marcoFile.marcoDoms})
#if($count<$max)
    ${marco.name}(${tool.getMarco($marco.type,$marco.value)},"$marco.des"),
#else
    #set($type = $tool.baseType(${marco.type}))
    ${marco.name}(${tool.getMarco($marco.type,$marco.value)},"$marco.des");
#end
    #set($count=$count+1)
#end
    private $type value;
    private String desc;
    ${marcoFile.name}($type value, String desc) {
        this.desc = desc;
        this.value = value;
    }
    public $type getValue() {
        return value;
    }

    public void setValue($type value) {
        this.value = value;
    }

    public String getDesc() {
        return desc;
    }

    public void setDesc(String desc) {
        this.desc = desc;
    }

    public static ${marcoFile.name} descOf($type value) {
        for (${marcoFile.name} one : ${marcoFile.name}.values()) {
            if (one.getValue().equals(value)) {
                return one;
            }
        }
        return null;
    }
}
        ]]>
    </file>
#else
    <file name="${tool.getPath($marcos_package)}${marcoFile.name}.java">
        <![CDATA[
${environment.notes}
package ${marcos_package};
public class ${marcoFile.name} {
#foreach($marco in ${marcoFile.marcoDoms})
    /**
    * ${marco.des};
    */
    public static final $tool.baseCaseType(${marco.type}) ${marco.name} = ${tool.getMarco($marco.type,$marco.value)};
#end
}
        ]]>
    </file>
#end
#end
</proto>