<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by 123 (456) -->
#set($environment = $environment)
#set($models = $protoDom.getModelDoms())
#set($baseParams = $protoDom.getBaseParamDoms())
#set($controllers = $protoDom.getControllerDoms())
#set($marcoFiles = $protoDom.getMarcoFileDoms())
#set($type = $protoDom.getType())
#set($controller_package = $environment.controller_package)
#set($model_package = $environment.model_package)
#set($marcos_package = $environment.marcos_package)
#set($params_package = $environment.params_package)

<proto>
#foreach($controller in $controllers)
    <file name="${tool.getPath($controller_package)}I${controller.name}.java">
<![CDATA[
${environment.notes}
package ${controller_package};
import ${model_package}.*;
import com.huiyi.base.annotation.*;
import io.swagger.annotations.*;
import org.springframework.http.MediaType;
import org.springframework.web.bind.annotation.*;
import ${params_package}.*;
import java.util.*;

@Api(tags="${controller.des}")
@RequestMapping("${controller.url}")
public interface I${controller.name} {
#foreach($method in ${controller.methodDoms})
    /**
    * ${method.des}
    */
    @ApiOperation(value = "${method.des}", httpMethod = "$tool.toUpper(${method.method})", produces = MediaType.APPLICATION_JSON_VALUE)
    @ApiResponse(code = 200, message = "success", response = ${tool.getTypeClass($method.rep)})
    @$tool.toUpperCaseFirstOneOtherLow(${method.method})Mapping("${method.url}")
#if($type=="in")
    @ServiceInside
#end
#if(${method.methodParameterDoms.size()} == 0)
#if(${method.req}!="")
    $tool.typeChange(${method.rep}) ${method.name}(@RequestBody ${method.req} m${method.req}) throws Exception;
#else
    $tool.typeChange(${method.rep}) ${method.name}() throws Exception ;
#end
#else
#if($tool.toUpperCase(${method.method}) == "POST")
    $tool.typeChange(${method.rep}) ${method.name}(@RequestBody ${controller.name}${tool.toUpperCaseFirstOne($method.name)}Params m${controller.name}${tool.toUpperCaseFirstOne($method.name)}Params) throws Exception;
#else
    $tool.typeChange(${method.rep}) ${method.name}(${controller.name}${tool.toUpperCaseFirstOne($method.name)}Params m${controller.name}${tool.toUpperCaseFirstOne($method.name)}Params) throws Exception;
#end
#end
#end
}
]]>
    </file>
#end
</proto>